.CreateTodoButton {
  position: absolute;
  right: 3%;
  bottom: 3%;
  z-index: 1;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  outline: none;
  line-height: 50px;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--bg-color-todo-item);
  background-color: var(--add-todo-button);
  cursor: pointer;
  transition: all 0.3s ease;
}

.CreateTodoButton:hover {
  transform: rotate(180deg);
  box-shadow: 0 0 1rem #fff, 0 0 2rem var(--add-todo-button);
}

.CreateTodoButton.closeIcon {
  transform: rotate(45deg);
  background-color: var(--delete-todo-button);
}

.CreateTodoButton.closeIcon:hover {
  transform: scale(0.9);
  box-shadow: 0 0 1rem #fff, 0 0 2rem var(--delete-todo-button);
}
